<h1 align=center> <%= info %> </h1>

<p align=center> <%=admin_perms_new_video%>  </p>

</br>
<% @videos.each do |video| %>
<%= link_to "#{video.title} (#{video.year_released})", video_path(video)%> </br>
<% end %>

<p align="center"><%= image_tag("logo/movies.png", width: '400px')%></p>
